body{
    font-family: Verdana;
    background-color: black;
    text-align: center;

}

h1{
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2{
    font-size: 42px;
    font-weight: 300;
    color: white;
}

h4{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

p{
    font-size: 21px;
    color:gray;
}

p.firm{
    text-align: right;    
}

.phone-icon{
    display: block;
    margin-top: 20px;
    margin-left: 50%;
}