body{
    font-family: Verdana;
    background-color: black;
    text-align: center;

}

h1{
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h4{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}